/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.navbar{
        padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-toggler{
    background: white!important;
}
.bg-light{
    background-color: rgb(20, 15, 66)!important;
    box-shadow: 0px 0px 20px 3px black;
}
.navbar-brand{
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 1.40rem;
    color: #f6f7f8!important;
}
.nav-item{
    padding: 0px 8px 0px 8px;
}
.nav-link{
    color: #f7f2f2!important;
    font-family: 'Noto Sans JP',    sans-serif;
    font-weight: bold;
}

.nav-link:hover{
    color: #0f0f0f!important;
    background-color: #f1f1f3;

}
@media (max-width: 600px) {
    .navbar-brand {
        font-size: 16px;
    }
}
/* navbar css ends here  */

marquee{
    font-size: 40px;
    font-family: 'Prompt', sans-serif;
    color: black;
}
/* here content css end here  */
/*customer details start*/
.table{
    text-align: center;
    background-color: white;
}
thead{
    background-color: #131314;
    color: rgb(255, 255, 255);
}
.blockquote{
    margin: 20px;
    color: white;
}
.tr-btn{
    padding:5px 30px;
}
.tr-data{
    margin-left: 10px;
}
.tr-data-txt{
    font-weight: normal;
}
#transfer-btn{
    display: none;
}
/*customer details end*/

/* footer css starts here */
footer{
    display: flex;
    align-items: center;
    background-color:  #00052e;
    height: 70px;
    color: white;
}
.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}
.social-icons{
    padding: 0px;
}
.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}
.github:hover{
    color: #ff0000;
}

.linkedin:hover{
    color: #020c92;
}

/* footer css ends here  */

/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #030f27;
    transition: .5s;
}

.team .team-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fdbe33;
    transition: .5s;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-item:hover .team-text {
    cursor: pointer;
    background: #fdbe33;
}

.team .team-item:hover .team-text h2 {
    color: #030f27;
    letter-spacing: 1px;
}

.team .team-social {
    position: absolute;
    width: 100px;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
    font-size: 0;
}

.team .team-social a {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.team .team-item:hover .team-social a:first-child {
    background: #01039c;
    left: 50px;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    background: #161616;
    left: 50px;
    transition: .3s .1s;
}

/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    /* height: calc(100vh - 170px); */
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: calc(100vh - 170px); */
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 20px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.content-main{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url(https://www.simplilearn.com/ice9/free_resources_article_thumb/5_Steps_to_Digital_Transformationin_Banking_FRS.jpg) fixed center center;
    background-size: cover;
    padding: 30px 0;
    /* margin-top: 50px; */
    width: 100%;
    color:white;
}
.msg{
    height: 50px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
  }
  
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
  }
  
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  
  .about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  }
  
  .about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .about .btn-read-more:hover i {
    transform: translateX(5px);
  }
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
  }
  
  .features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
  }
  
  .features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  .features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
  }  
